# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Frontend build files
client/dist/
client/build/

# Environment variables
backend/.env
frontend/.env

# Logs
logs/
*.log

# Editor settings
.vscode/
.idea/